[motors_sync]
axes: x,y
#    Axes on which calibration will be performed.
accel_chip: adxl345
#    Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#encoder_chip_<axis>:
#    Axis, assigned encoder name, for measuring deviations.
chip_filter: median
#    Filter type for data from the accelerometer: 'median' works well in
#    most cases, but some particularly noisy printers (fans, etc.) may
#    require a more powerful filter - 'kalman'. On lis2dw filters disabled.
median_size: 3
#    Median filter window size.
#kalman_coeffs: 1.1, 1., 1e-1, 1e-2, .5, 1.
#    Simple coefficients describing the kalman filter.
microsteps: 16
#    Maximum microstepping displacement of the stepper motor rotor.
sync_method: alternately
#    Methods for synchronizing two axes on interconnected kinematics:
#    'alternately' - the axes calibrated alternately, step by step. (default)
#    'synchronous' - the axes calibrated depending on their magnitude,
#    trying to keep it at the same level.
#    Methods for synchronizing axis/axes on NOT-interconnected kinematics:
#    'sequential' - axes are calibrated sequentially. (default)
steps_model: linear, 20000, 0
#    Mathematical model and its coefficients representing the dependence
#    of stepper motor microstep displacement on the measured magnitude.
max_step_size: 6
#    The maximum number of microsteps that the motor can take move at time,
#    to achieve the planned magnitude.
axes_steps_diff: 8
#    The difference in the positions of the motors in microsteps between
#    the two axes, to update the magnitude of the secondary axis. It is
#    used in the synchronous method, or in the process of axis alignment
#    in the alternately method. The typical value is max_step_size + 1.
retry_tolerance: 1000
#    The forced threshold to which a pair of stepper motors on one belt
#    will have to lower the magnitude of the oscillations. It's recommended
#    to configure in order to filter possible inaccuracies. After several
#    iterations of starting synchronization, you will find the edge, to
#    which this parameter should be omitted.
retries: 3
#    The maximum number of repetitions to achieve the forced threshold of
#    oscillations.
head_fan: hotend_fan
#    Toolhead fan, which will be turned off during sync to eliminate noise.

[gcode_macro SYNC_MOTORS]
rename_existing: SYNC_MOTORS_BASE
gcode:
    {% set axes = params.AXES|default('default')|string|lower %}
    {% set retry_tolerance = params.RETRY_TOLERANCE|default('default')|string|lower %}
    {% set retries = params.THRESHOLD_RETRIES|default('default')|string|lower %}
    {% set force_run = params.FORCE_RUN|default(0)|int %}
    {% if not printer.motors_sync.applied or force_run %}
        {% if axes == 'default' %}
            {% set axes = printer.configfile.config.motors_sync.axes %}
        {% endif %}
        {% if retry_tolerance == 'default' %}
            {% if 'retry_tolerance' in printer.configfile.config.motors_sync %}
                {% set retry_tolerance = printer.configfile.config.motors_sync.retry_tolerance %}
            {% else %}
                {% set retry_tolerance = 0 %}
            {% endif %}
        {% endif %}
        {% if retries == 'default' %}
            {% if 'retries' in printer.configfile.config.motors_sync %}
                {% set retries = printer.configfile.config.motors_sync.retries %}
            {% else %}
                {% set retries = 0 %}
            {% endif %}
        {% endif %}
        SYNC_MOTORS_BASE AXES={axes} RETRY_TOLERANCE={retry_tolerance} RETRIES={retries}
    {% else %}
        M118 Motors sync already applied! If you want force sync, run with FORCE_RUN=1 argument
    {% endif %}